extends layout

block content
  h1= title
  p Use the form below to edit this movie.
  hr
  if msg 
    p(class='redtext')= msg
  form(method='POST' action=`/movies/${movie.id}/edit`)
    input(type='text' name='title' value=movie.title)
    br
    input(type='text' name='director' value=movie.director)
    br
    input(type='text' name='year' value=movie.year)
    br
    textarea(name='notes', style='height: auto: overflow: auto;')= movie.notes
    br
    | 
    button(type='submit') Save Changes
    | 
    a(href='/movies') Cancel