extends layout

block content
  h1 All Movies
  a.btn-link(href='/movies/add') Add Movie

  br
  br
  hr

  .row
    each movie in movies
      .col-md-4.mb-4
        .card
          .card-body
            h5.card-title= movie.title
            p.card-text Director: #{movie.director}
            p.card-text Release Year: #{movie.year ? movie.year : 'N/A'}
          .card-footer
           a.btn.btn-primary(href=`/movies/${movie.id}`) View
           | &nbsp; <!-- Add non-breaking space for spacing -->
           a.btn.btn-warning(href=`/movies/${movie.id}/edit`) Edit

            form(action=`/movies/${movie.id}/delete` method='GET')
              button.btn.btn-danger(type='submit') Delete
