extends layout

block content
  h1 All Movies
  button.btn.btn-primary(type='button', onclick=`location.href='/movies/add'`) Add Movie

  br
  br
  hr

  .row.row-cols-1.row-cols-md-5
    each movie in movies
      .col.mb-4
        .card
          .card-body
            h5.card-title= movie.title
            p.card-text Director: #{movie.director}
            p.card-text Release Year: #{movie.year ? movie.year : 'N/A'}
          .card-footer
            button.btn.btn-primary(type='button', onclick=`location.href='/movies/${movie.id}'`) View
            | &nbsp;
            button.btn.btn-warning(type='button', onclick=`location.href='/movies/${movie.id}/edit'`) Edit
            | &nbsp;
            form(action=`/movies/${movie.id}/delete`, method='GET', style='display: inline;')
              button.btn.btn-danger(type='submit') Delete
