extends layout

block content
  .container
    h1 Movie Details
    if movie
      table.table
        tbody
          tr
            td Title:
            td= movie.title
          tr
            td Director:
            td= movie.director
          tr
            td Release Year:
            td= movie.year
          tr 
            td Notes: 
            td= movie.notes  
          tr
            td
              form(action=`/movies/${movie.id}/delete`, method='GET')
                button.btn-delete(type='submit') Delete
            td
              a.btn-edit(href=`/movies/${movie.id}/edit`) Edit
        tr
          td(colspan="2")
            a.btn.btn-secondary(href="/movies") Back to Movies
    else
      p Movie not found.
